
.btn-bitshares {
color: #fff !important;
background-color: #01bbf4;
}
.btn-block {
display: block;
width: 100%;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 2px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.btn-social a,.btn-social a:hover
{
	color:#fff !important;text-decoration:none !important;
	z-index:10;
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transform:scale(1.05);	
}
.btn-social:hover,.btn-social:focus,.btn-social.focus
{
	color:#fff !important;text-decoration:none !important;
	z-index:10;
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transform:scale(1.05);	
}
.btn-social {
position: relative;
white-space: nowrap;
overflow: hidden;
padding-left:34px;
text-overflow: ellipsis;
width: 100% !important;
max-width: 169px;
height: 117px;
margin: 0 0 5px 0;
height: 34px;
transition: all .2s ease;
-webkit-font-smoothing: antialiased;
text-align: left;
}

.btn-social>:first-child {
position: absolute;
left: 0;
top: 0;
bottom: 0;
text-align: center;
}
.btn-social>img {
vertical-align: middle;
border: 0;
}
.text-center {
text-align: center;
}
